{% extends "DjangoWebApp/base.html" %}

{% load static %}

{% block content %}

    <div class="formularioEmail" >

        {% if "valido" in request.GET %}

            <p  style="color: white;">Se han ingresado los datos correctamente</p>

        {% endif %}
        
        <form action="" method="POST" style="text-align: center;">
            {% csrf_token %}
            <table style="color: white; margin: 20px auto;">{{formulario.as_table}}</table>
            <input type="submit" value="Enviar" style="width: 200px;">
            <input type="reset" value="Reiniciar" style="width: 80px;">
        </form>    

    </div>    

{% endblock %}