{% extends "DjangoWebApp/base.html" %}

{% load static %}

{% block content %}

<div class="container">

    <div style="float: right;">

        {% include "carro/widget.html" %}

    </div>


    <div class="row">

    {% for producto in productos %}

    <div class="col-md-3" style="margin-block: 15px;">

        <div class="card" style="width: 100%;">

            <img src="{{producto.imagen.url}}" alt="" style="width: auto; height: 200px;">

            <div class="card-body" style="text-align: center;"> 

    `           <h5 class="card-title">{{producto.nombre}}</h5>
                <p class="card-text">${{producto.precio}}</p>

            </div>

            <div class="card-footer text-center">

                <a href="#" class="btn btn-success"> Agregar al carro </a>
                
            </div>

        </div>

    </div>   
     
    {% endfor %}

    </div>    
</div>

{% endblock %}