/DjangoWebProject/__pycache__
/DjangoWebProject/__init__.py
/DjangoWebProject/private.py

/DjangoWebApp/__init__.py
/DjangoWebApp/__pycache__/
/DjangoWebApp/migrations/

/servicios/migrations/
/servicios/__init__.py
/servicios/__pycache__/

/blog/migrations/
/blog/__init__.py
/blog/__pycache__/

/contacto/migrations/
/contacto/__init__.py
/contacto/__pycache__/

db.sqlite3
/__pycache__
.env